extends layout 

block content 
    h2 Post a Message
    if errorMessage 
        h3 #{errorMessage}
    form(action="", method="post")
        input(type="text", name="messageHead",placeholder="Heading",required)
        input(type="text", name="messageBody", placeholder="Enter message",required)
        button(type="submit") Send 
