extends layout 

block content 

    h2 Enter a secrect message to become a member 
    p Hint: are you the creator?
    if errorMessage
        p #{errorMessage}
    form(action="", method="post")
        input(type="text", name="passcodeAdmin",placeholder="enter passcode")  