extends layout 

block content 
    h2 sign up form
    if errorMessage
        h3 #{errorMessage}
    if signUpData
        form(action="", method="post") 
            input(type="text", name="fullname",placeholder="fullname",value=signInData.username)
            input(type="text", name="username",placeholder="username",value=signInData.username)
            input(type="password", name="password",placeholder="password",value=signInData.password)
            button(type="submit") sign-up
    else 
        form(action="", method="post") 
            input(type="text", name="fullname",placeholder="fullname")
            input(type="text", name="username",placeholder="username")
            input(type="password", name="password",placeholder="password")
            button(type="submit") sign-up
